.card {
  background: hsl(0, 0%, 100%);
  /* margin: 32px 16px 0 16px; */
  padding: 32px 24px;
  border-radius: 8px;
  flex-direction: column;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 78.4%;
  max-width: 532px;
}

@media (max-width: 725px) {
  .card {
    position: absolute;
  }
}

.card-title {
  font-size: 1.5rem;
  color: hsl(213, 96%, 18%);
  margin-bottom: 3.09%;
}

.fill-info {
  color: hsl(231, 11%, 63%);
  margin-bottom: 24px;
  line-height: 1.5rem;
  font-size: 1rem;
}

.input {
  display: block;
  width: 100%;
  padding: 11px 15px;
  box-sizing: border-box;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 4px;
  margin: 3px 0 10px 0;
  font-family: "Ubuntu";
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}

.input::placeholder {
  color: hsl(231, 11%, 63%);
  font-family: "Ubuntu";
  font-weight: 500;
}

.input:focus {
  outline: 1px solid hsl(213, 96%, 18%);
}

h3,
p {
  margin: 0;
}

label {
  color: hsl(213, 96%, 18%);
  font-weight: 400;
}

.remove-margin {
  margin-bottom: 0;
}

.error {
  border: 1px solid hsl(354, 84%, 57%);
}

.text-red {
  color: hsl(354, 84%, 57%);
  font-family: "Ubuntu";
  font-weight: 500;
  margin-left: auto;
  font-size: 0.75rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

@media (min-width: 725px) {
  /* .card-title {
        margin-top: 1.9em;
        margin-bottom: 0.8em;
    } */

  .fill-info {
    margin-bottom: 0;
  }

  .input {
    margin-top: 1.5%;
    margin-bottom: 4%;
  }
}

@media (min-width: 725px) {
  .card {
    position: none;
    width: 100%;
  }
  .above-header {
    /* flex-basis: 45px;
        flex-shrink: 2; */
    height: 0;
    padding: 5% 0 0 0;
  }

  .below-fill-info {
    /* flex-basis: 40px;
        flex-shrink: 2; */
    height: 0;
    padding: 3% 0 0 0;
  }

  .above-form-btn {
    height: 0;
    padding: 7% 0 0 0;
  }
}

@media (min-width: 900px) {
  .above-form-btn {
    height: 0;
    padding: 18% 0 0 0;
  }

  .input {
    margin-top: 2.212%;
    margin-bottom: 5.53%;
  }

  .below-fill-info {
    /* flex-basis: 40px;
        flex-shrink: 2; */
    padding: 9% 0 0 0;
  }

  .above-header {
    /* flex-basis: 45px;
        flex-shrink: 2; */
    height: 0;
    padding: 10% 0 0 0;
  }
}

.fs-75 {
  font-size: 0.75rem;
}

@media (min-width: 725px) {
  .final-price {
    font-size: 1.25rem;
  }
}
